---
import { Image } from "astro:assets";
import CD_VOTO_MARCADO from "../../assets/logos/CD_VOTO_MARCADO.png";
---

<section
    class:list={[
        "relative flex flex-col max-w-7xl mx-auto rounded-2xl z-20 p-5 bg-(--cd-oscuro) text-white",
        " lg:items-center max-sm:mx-1!",
    ]}
>
    <div class="flex flex-col lg:flex-row lg:gap-2 items-center">
        <h1
            class="text-3xl md:text-5xl lg:text-7xl font-extrabold text-(--cd-amarillo) text-center"
        >
            Vota así al Senado y la Presidencia
        </h1>
        <div
            class="mt-5 bg-white rounded-md max-sm:w-56 max-md:w-60 max-w-sm lg:mt-0"
        >
            <Image src={CD_VOTO_MARCADO} alt="Vota al Centro Democrático" />
        </div>
    </div>

    <div class="w-full flex items-center mt-4 justify-center">
        <span class="text-center text-xl"
            >Trabajando por Colombia con responsabilidad y compromiso</span
        >
    </div>
</section>
