---

---

<section
    class="relative flex flex-col max-w-7xl mx-auto bg-(--cd-oscuro) rounded-2xl z-50 p-5"
>
    <div>
        <h1 class="text-4xl md:text-7xl font-extrabold text-(--cd-azul)">
            En que creemos
        </h1>
    </div>
    <div class="mt-10">
        <p class="text-xl md:text-2xl text-white">
            No tengo perra idea en que cree esta señora asi que no se que puede
            ir aquí
        </p>
    </div>
</section>
