---

---

<section class="segmento mt-10 p-5">
    <div>
        <h1 class="text-4xl md:text-7xl font-extrabold text-(--cd-azul)">
            Enterate de lo que hacemos!
        </h1>
    </div>
    <div>
        <p class="text-xl md:text-2xl">
            En teoria aquí va lo de noticias de la campaña
        </p>
    </div>
</section>
