---
import { noticias as noticiasRaw } from "../../helpers/noticias";
import iconoNoticas from "../../assets/iconos/ICONO_NOTICIAS.png";
import { Image } from "astro:assets";

const noticias = [...noticiasRaw].sort(
    (a, b) => new Date(b.fecha).getTime() - new Date(a.fecha).getTime(),
);
---

<section
    id="noticias"
    class="segmento p-1 md:p-5 max-md:mx-2! shadow-md relative mt-10! rounded-xl"
>
    <div
        class="absolute overflow-hidden -z-50 left-0 top-0 w-full h-full rounded-xl"
    >
        <div
            class="absolute -z-10 bg-(--cd-amarillo) w-50 h-50 rounded-full -top-3 -left-20 blur-2xl opacity-10"
        >
        </div>
        <div
            class="absolute -z-50 bg-(--cd-rojo) w-20 h-20 rounded-full -bottom-1 -right-5 blur-2xl opacity-20"
        >
        </div>
        <Image
            src={iconoNoticas}
            alt="Icono noticias"
            class={"-translate-x-7 -translate-y-10 opacity-25 right-0 w-50 h-50 md:w-60 md:h-60"}
        />
    </div>
    <h1
        class="text-4xl lg:text-5xl font-extrabold text-center text-(--cd-oscuro) mt-10 z-20 mb-3"
    >
        Enterate de lo que hacemos
    </h1>

    <div
        class="w-full py-5 px-1 md:px-20 flex gap-2 overflow-y-visible items-center z-50 relative"
    >
        <button
            id="scroll-left"
            class:list={[
                "hidden invisible md:block cursor-pointer px-2 rounded-full border border-gray-300 h-10 w-10 font-extrabold text-xl",
                "hover:bg-gray-100 hover:scale-110 transition-all duration-300 ease-in-out",
            ]}
        >
            <span
                ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <polyline points="15 18 9 12 15 6"></polyline>
                </svg>
            </span></button
        >

        <div
            class="noticias grid grid-flow-col w-full h-full gap-5 overflow-x-auto scroll-smooth overflow-y-visible pb-2 px-1"
        >
            {
                noticias.map((noticia) => (
                    <article class="flex flex-col min-w-80 max-w-80 cursor-pointer shadow-md rounded-lg z-20 bg-white">
                        <img
                            src={noticia.imagen}
                            alt={noticia.titulo}
                            class="w-full h-60 object-cover object-top rounded-t-lg"
                        />
                        <div class="flex flex-col p-3 ">
                            <h2 class="font-semibold text-lg">
                                {noticia.titulo}
                            </h2>
                            <p class="text-sm text-gray-500">
                                {new Date(noticia.fecha).toLocaleDateString(
                                    "es-CO",
                                    {
                                        year: "numeric",
                                        month: "long",
                                        day: "numeric",
                                    },
                                )}
                            </p>
                        </div>
                    </article>
                ))
            }
        </div>
        <button
            id="scroll-right"
            class:list={[
                "hidden md:block visible cursor-pointer px-2 rounded-full border border-gray-300 h-10 w-10 font-extrabold text-xl",
                "hover:bg-gray-100 hover:scale-110 transition-all duration-300 ease-in-out",
            ]}
            ><span
                ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <polyline points="9 18 15 12 9 6"></polyline>
                </svg>
            </span></button
        >
    </div>
</section>

<style>
    ::-webkit-scrollbar {
        display: none;
    }
</style>

<script>
    const scrollLeftBtn = document.getElementById("scroll-left");
    const scrollRightBtn = document.getElementById("scroll-right");
    const noticias = document.querySelector(".noticias");

    const SCROLL_AMOUNT = 200;

    noticias?.addEventListener("scroll", () => {
        if (!noticias) return;

        scrollLeftBtn?.classList.remove("visible");
        scrollRightBtn?.classList.remove("visible");

        scrollLeftBtn?.classList.toggle("invisible", noticias.scrollLeft === 0);
        scrollRightBtn?.classList.toggle(
            "invisible",
            noticias.scrollLeft === noticias.scrollWidth - noticias.clientWidth,
        );
    });

    scrollLeftBtn?.addEventListener("click", () => {
        if (!noticias) return;

        noticias.scrollLeft = Math.max(0, noticias.scrollLeft - SCROLL_AMOUNT);
    });

    scrollRightBtn?.addEventListener("click", () => {
        if (!noticias) return;

        const maxScroll = noticias.scrollWidth - noticias.clientWidth;

        noticias.scrollLeft = Math.min(
            maxScroll,
            noticias.scrollLeft + SCROLL_AMOUNT,
        );
    });
</script>
