---
import Intro from "./sections/Intro.astro";
import NoticiasDeCampania from "./sections/NoticiasDeCampania.astro";
import SocialNetworks from "./ui/SocialNetworks.astro";
import Voluntariado from "./sections/Voluntariado.astro";
import Footer from "./ui/Footer.astro";
import Ideales from "./sections/Ideales.astro";
---

<div>
    <SocialNetworks />
    <Intro />

    <Ideales />
    <NoticiasDeCampania />
    <Voluntariado />
    <Footer />
</div>

<style is:global>
    :root {
        --cd-amarillo: #fec900;
        --cd-azul: #63b9e9;
        --cd-rojo: #d81a10;
        --cd-oscuro: #253e6b;
    }

    .segmento {
        position: relative;
        max-width: 80rem;
        margin: 0 auto;
    }

    @keyframes reveal {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @font-face {
        font-family: "Homey Feeling";
        src: url("/font/HomeyFeeling.otf") format("opentype");
        font-display: swap;
    }
    .homey-title {
        font-family: "Homey Feeling";
    }
</style>
