---
import Intro from "./sections/Intro.astro";
import NoticiasDeCampania from "./sections/NoticiasDeCampania.astro";
import SocialNetworks from "./ui/SocialNetworks.astro";
import Voluntariado from "./sections/Voluntariado.astro";
import Footer from "./ui/Footer.astro";
import Ideales from "./sections/Ideales.astro";
import NoticiasCarrucel from "./sections/NoticiasCarrucel.astro";
import ComoVotar from "./sections/ComoVotar.astro";
import Propuestas from "./sections/Propuestas.astro";
---

<div>
 
  <SocialNetworks />
  <Intro />
  <Ideales />
  <NoticiasCarrucel />
  <Propuestas />
  <ComoVotar />
  <Voluntariado />
  <Footer />
</div>

<style is:global>
  :root {
    --cd-amarillo: #fec900;
    --cd-azul: #63b9e9;
    --cd-rojo: #d81a10;
    --cd-oscuro: #253e6b;
  }

  .segmento {
    position: relative;
    max-width: 80rem;
    margin: 0 auto;

    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 25%;
    z-index: 1;
  }

  @keyframes reveal {
    from {
      opacity: 0.85;
      transform: translateY(16px) scale(0.96);
    }
    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  @font-face {
    font-family: "Homey Feeling";
    src: url("/font/HomeyFeeling.otf") format("opentype");
    font-display: swap;
  }
  .homey-title {
    font-family: "Homey Feeling";
  }

</style>
