---
import Intro from "./sections/Intro.astro";
---

<div>
    <Intro />
    <section class="w-dvw h-dvh bg-[#234874]"></section>
</div>

<style>
    :root {
        --cd-amarillo: #fdcd16;
        --cd-azul: #54b5e6;
        --cd-rojo: #ee4023;
    }
</style>
