---
import Image from "astro/components/Image.astro";
import CD_LOGO_H from "../../assets/logos/CD_LOGO-H.png";
---

<div class="h-20 w-full mb-5">
    <nav>
        <ul>
            <li>
                <Image src={CD_LOGO_H} alt="Logo" height={100} />
            </li>
        </ul>
    </nav>
</div>
