---

---

<div
    class="fixed right-1 backdrop-blur-2xl md:bg-(--cd-oscuro) md:text-white z-50 rounded-md p-2"
>
    <ul>
        <li>Facebook</li>
        <li>Instagram</li>
        <li>Twitter</li>
    </ul>
</div>
